In [7]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
addition=number1+number2
difference=number1-number2
product=number1*number2
print("addition "+str(addition))
print("difference "+str(abs(difference)))
print("product "+str(product))

enter the first number 7
enter the second number 6

addition 13
difference 1
product 42

In [11]:
import math
a=int(input("enter the a value"))
b=int(input("enter the b value"))
power=math.pow(a,b)
print(str(a)+" power "+str(b)+" is "+str(power))

enter the a value 4
enter the b value 2

4 power 2 is 16.0

In [5]:
length=float(input("enter the length"))
height=float(input("enter the height"))
width=float(input("enter the width"))
volume=length*height*width
print("the volume of the rectanglar water tank "+str(volume))

enter the length 55.5
enter the height 44.4
enter the width 66.6

the volume of the rectanglar water tank 164115.71999999997

In [6]:
import math
radius=float(input("enter the radius of the circle"))
perimeter=1/2*math.pi*radius
print("perimeter of the circle "+str(perimeter))

enter the radius of the circle 4.4

perimeter of the circle 6.911503837897546

In [15]:
numerater=int(input("enter the numerater"))
denominater=int(input("enter the dinominater"))
quotient=numerater//denominater
remainder=numerater%denominater
print("quotient value "+str(quotient)+"\ndinominater "+str(remainder))

enter the numerater 6
enter the dinominater 4

quotient value 1
dinominater 2

In [17]:
import math
number=int(input("enter the number"))
square_value=math.pow(number,2)
print("square value of "+str(number)+" is "+str(square_value))

enter the number 2

square value of 2 is 4.0

In [22]:
import math
number=int(input("enter the number"))
sqrt_value=math.sqrt(number)
print("square root of "+str(number)+" is "+str(sqrt_value))

enter the number 49

square root of 49 is 7.0

In [7]:
height=float(input("enter the height value "))
base=float(input("enter the base value "))
area=1/2*height*base
print("area of the triangle "+str(area))

enter thee height value  5.5
enter the base value  4

area of the triangle 11.0

In [8]:
meter=float(input("enter the kilometer"))
miles=meter/1.60934
print(str(meter)+" meter is equal to "+str(miles)+" miles")

enter the kilometer 14.5

14.5 meter is equal to 9.009904681422197 miles

In [29]:
celsius=float(input("enter the tempurature in celsius"))
fahrenheit=celsius*(9/5)+32
print(str(celsius)+" celsius is equal to "+str(fahrenheit)+" fahrenheit")

enter the tempurature in celsius 56

56 celsius is equal to 132.8 fahrenheit

In [30]:
variable1=int(input("enter the first variable"))
variable2=int(input("enter the second variable"))
temp=variable1
variable1=variable2
variable2=temp
print(str(variable1)+" is the first variable and "+str(variable2)+" is the second variable")

enter the first variable 10
enter the second variable 20

20 is the first variable and 10 is the second variable

In [32]:
variable1=int(input("enter the first variable"))
variable2=int(input("enter the second variable"))
variable1=variable1+variable2
variable2=variable1-variable2
variable1=variable1-variable2
print(str(variable1)+" is the first variable and "+str(variable2)+" is the second variable")

enter the first variable 10
enter the second variable 20

20 is the first variable and 10 is the second variable

In [33]:
var1=int(input("enter the first variable"))
var2=int(input("enter the second variable"))
var1=var1^var2
var2=var1^var2
var1=var1^var2
print(str(var1)+" is the first variable and "+str(var2)+" is teh second variable")

enter the first variable 10
enter the second variable 20

20 is the first variable and 10 is teh second variable

In [34]:
import random
number=random.randint(1,100)
print(str(number)+" is a random number between 1 and 100")

46 is a random number between 1 and 100

In [35]:
length=float(input("enter the length"))
width=float(input("enter the width"))
area=length*width
acre=area/43560
print("area of the fields "+str(acre))

enter the length 5
enter the width 5

area of the fields 0.000573921028466483

In [39]:
number=int(input("enter the number"))
answer=number*(number+1)/2
print("sum of "+str(number)+" number is "+str(answer))

enter the number 5

sum of 5 number is 15.0

In [41]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=int(input("enter the third number"))
average=(num1+num2+num3)/3
print("average value of "+str(num1),str(num2),str(num3)+" is "+str(average))

enter the first number 5
enter the second number 6
enter the third number 4

average value of5 6 4 is 5.0

In [43]:
amount=int(input("ener the total number of amount"))
tip=amount*(5/100)
print("the amount provided to the waiter is "+str(tip))

ener the total number of amount 1000

the amount provided to the waiter is 50.0

In [44]:
amount=int(input("enter the total amount"))
tax=int(input("enter the tax percentage"))
net_amount=amount-amount*(tax/100)
print("the net amount of the product is "+str(net_amount))

enter the total amount 1000
enter the tax percentage 4

the net amount of the product is 960.0

In [47]:
basic_pay=int(input("enter the basic pay"))
da=int(input("enter the dearness allowance persentage"))
ta=int(input("enter the travel allowance persentage"))
da=(da/100)*basic_pay
ta=(ta/100)*basic_pay
pf=(8/100)*basic_pay
gross_pay=basic_pay+da+ta-pf
print("gross pay "+str(gross_pay))

enter the basic pay 20000
enter the dearness allowance persentage 10
enter the travel allowance persentage 5

gross pay 21400.0

In [48]:
p=int(input("enter the princeple amount"))
r=int(input("enter the rate of interest"))
n=int(input("enter the number of years"))
simple=p*n*(r/100)
print("simple interest "+str(simple))

enter the princeple amount 10000
enter the rate of interest 5
enter the number of years 2

simple interest 1000.0

In [4]:
import math
p=int(input("enter the principle amount"))
n=int(input("enter the number of number of time interest is compounded  per time period"))
r=int(input("rate of interest"))
t=int(input("number of years"))
r=r/100;
compound=p*math.pow((1+r/n),(n*t))
interest=compound-p
print("final amount "+str(compound)+" and compound interest "+str(interest))

enter the principle amount 20000
enter the number of number of time interest is compounded  per time period 2
rate of interest 5
number of years 5

final amount 25601.690883927135 and compound interest 5601.690883927135

In [49]:
height=float(input("enter the height"))
inch=height/2.54
feet=inch/12
print("height in inch "+str(inch)+ " and feet "+str(feet))

enter the height 165

height in inch 64.96062992125984 and feet 5.413385826771653

In [53]:
height=float(input("enter the height"))
weight=float(input("enter your weight"))
height=height/100
bmi=weight/(height*height)
print("body mass index is "+str(bmi))

enter the height 165
enter your weight 44.4

body mass index is 16.308539944903583

In [56]:
rollno=input("enter your roll number")
name=input("enter your name")
m1=int(input("enter your mark in first subject"))
m2=int(input("enter your mark in second subject"))
m3=int(input("enter your mark in third subject"))
total=m1+m2+m3
average=total/3
print("your roll number "+rollno+"\nyour name is "+name+"\nmark in first subject is "+str(m1)+"\nmark in second subject "+str(m2)+"\nmark in third subject "+str(m3)+"\ntotal mark "+str(total)+"\naverage mark "+str(average))

enter your roll number 22
enter your name ezhil
enter your mark in first subject 50
enter your mark in second subject 30
enter your mark in third subject 59

your roll number 22
your name is ezhil
mark in first subject is 50
mark in second subject 30
mark in third subject 59
total mark 139
average mark 46.333333333333336